body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

#image_wrapper {
    max-width: 300px;
    max-height: 100px;
}

#title {
    color: darkslateblue;
}

#background_image {
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
    margin-bottom: 3rem;
}

#delete-success {
    color: lightcoral;
    font-weight: bolder;
}

#add-success {
    color: mediumseagreen;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
}

.addButton {
    background-color: mediumseagreen;
    border-radius: 5px;
}

.deleteButton {
    background-color: lightcoral;
    margin-left: 1rem;
    border-radius: 5px;
}

.post {
    display: inline-block;
    margin-left: 1rem;
    border: 2rem;
    border-color: black;
    box-shadow: 3px 4px 3px 4px black;
    padding: 2rem;
}